body {
  color: #2f5572;
  padding: 35px;
  -webkit-columns: 300px 2;
          columns: 300px 2;
}

.box a{
    dislay: block;
    padding: 10px;
  }

.box b{
    display: inline;
    padding: 15px;
  }
